<h1>Listing backgrounds</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @backgrounds.each do |background| %>
      <tr>
        <td><%= link_to 'Show', background %></td>
        <td><%= link_to 'Edit', edit_background_path(background) %></td>
        <td><%= link_to 'Destroy', background, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Background', new_background_path %>
