<h1>Listing callbacks</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @callbacks.each do |callback| %>
      <tr>
        <td><%= link_to 'Show', callback %></td>
        <td><%= link_to 'Edit', edit_callback_path(callback) %></td>
        <td><%= link_to 'Destroy', callback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Callback', new_callback_path %>
